body {
    background-color: rgb(243, 236, 236);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
#kely{
    height: 120px;
    width: 120px;
    object-fit: cover;
}
a {
    text-decoration: none;
    color: rgb(11, 24, 34);
}
.d {
    color: bisque;
}
html {
    scroll-behavior: smooth;
}
#takona {
    scroll-margin-top:70px ;
}
nav {
    background-color: rgb(17, 21, 70);
    border-top: wheat 1px;
}
.in {
   
    border: 1px solid rgb(232, 232, 243);
    border-radius: 15px;
    transition: border-color 1s;
    height: 50px;
    width: 100%;
    text-align: center;
 
}
label{
    display: none;
}
textarea{   
    border: 1px solid rgb(232, 232, 243);
    border-radius: 15px;
    transition: border-color 1s;   
    width: 100%;
    text-align: center;
}

@media screen and (min-width:992px) {
    #kely {
        width: 80px;
        height: 80px;
    }
    .in {
        
        border: 1px solid rgb(232, 232, 243);
        border-radius: 15px;
        transition: border-color 1s;
        height: 50px;
        width: 40%;
        text-align: center;
    }
    textarea {   
        border: 1px solid rgb(232, 232, 243);
        border-radius: 15px;
        transition: border-color 1s;   
        width: 40%;
        text-align: center;
}
}